body{
  background-image: url(./component/g.jpeg);
  background-size:auto;
  

}
.App {
  text-align: center;

}
.add{
  font-size: 40px;
  color:white
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}



@media (prefers-reduced-motion: no-preference) {
  *{
    margin:0;
    padding:0;
    border:0;
  }

  .App{

  margin-left:-9px;

  }
}



